%p Thanks for responding!

- if @response.will_vote?
  %p
    You have said that you will vote for
    = @response.candidate

- else
  %p You have said that you will not vote.

- if @response.constituency.present?
  %p= link_to "View results", constituency_responses_path(constituency: @response.constituency)
- else
  %p= link_to "View results", responses_path

